<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover">

    <title>优惠券</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/css/bootstrap-reboot.min.css">
    <script type="text/javascript" src="/js/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/js/imagesloaded.pkgd.min.js"></script>

    <script type="text/javascript" src="/js/list.js"></script>

</head>
<body>
<div class="container">
    <form role="form" name="searchForm">
        <div class="form-group">
            <label for="keyWord">关键词:</label>
            <input type="text" class="form-control" id="keyWord" placeholder="请输入搜索关键词">
        </div>

        <div class="custom-checkbox">
            <label>平台:</label>
                <input type="checkbox" name="platform" value="tb" checked>淘宝天猫&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="platform" value="jd" checked>京东&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" name="platform" value="pdd" checked>拼多多

        </div>
        <div class="custom-radio">
            <label>排序:</label>
            <input type="radio" name="sort" value="1" checked>券金额&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="sort" value="2" >销量&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="sort" value="3" >价格

        </div>
        <div align="center">
            <button type="button" class="btn btn-primary" role="button" id="searchBtn">搜索</button>
        </div>
    </form>
</div>
<div class="container">
<!--    <div class="col-md-4 col-sm-6 item">-->
<!--        <div class="thumbnail">-->
<!--            <img src="http://lorempixel.com/200/200/abstract" alt="">-->
<!--            <div class="caption">-->
<!--                <h3>Thumbnail label</h3>-->
<!--                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>-->
<!--                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <!--/.item -->

<!--    标签选项卡的代码：-->

<!--    //code from http://caibaojian.com/bootstrap-mosonry.html-->
    <div role="tabpanel">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#panel-1" aria-controls="panel-1" role="tab" data-toggle="tab">Panel 1</a>
            </li>
            <li role="presentation">
                <a href="#panel-2" aria-controls="panel-2" role="tab" data-toggle="tab">Panel 2</a>
            </li>
            <li role="presentation">
                <a href="#panel-3" aria-controls="panel-3" role="tab" data-toggle="tab">Panel 3</a>
            </li>
            <li role="presentation">
                <a href="#panel-4" aria-controls="panel-4" role="tab" data-toggle="tab">Panel 4</a>
            </li>
        </ul>

        <!-- Tab panels -->
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="panel-1">
                <div class="row masonry-container" id="tbList">

                </div><!--End masonry-container -->
            </div><!--End panel-1 -->
            <div role="tabpanel" class="tab-pane" id="panel-2">
                <!-- Same as what goes inside panel-1 -->
            </div><!--End panel-2 -->
            ...
        </div><!--End tab-content -->
    </div><!--End tabpanel -->
</div>
</body>
</html>