<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="wap-font-scale" content="no"/>
    <meta id="WV.Meta.EnableLongPressEvent" value="true"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="data-spm" content="a2e2e"/>
    <meta name="aplus-touch" content="1"/>
    <meta name="aplus-terminal" content="1"/>
    <meta name="aplus-waiting" content="MAN"/>
    <title>优惠券</title>
    <style>
        body{
            font-size: 14px;
            line-height: 1.8;
            width: 7.5rem;
            margin: 0 auto;
        }
        .item-list-con .recommend-item .title {
            -webkit-box-orient: vertical;
            height: .70rem;
        }

        .active-item-list-con div.recommend-title {
            text-align: center;
            font-size: 0.28rem;
            color: #333;
            width: 7.02rem;
            height: 1.08rem;
            margin: 0 auto -0.1rem;
            background: url(https://gw.alicdn.com/tfs/TB1tbCocLWG3KVjSZFgXXbTspXa-702-108.png);
            background-size: cover;
            font-size: 0;
        }

        .active-item-list-con .recommend-title-line {
            display: none;
        }
    </style>
</head>
<body>
<div id="J_wrap">
    <div mx-view="app/views/coupon/index" id="mx_7">
        <div mxs="x64_:a" mx-view="app/views/coupon/item/index" id="mx_9">
            <div mxa="x64g:_" class="item-con">
                <div class="item-info-con" data-spm="90202100"><a
                        href="https://s.click.taobao.com/t?e=m%3D2%26s%3D2ww3aCtd%2F5hw4vFB6t2Z2ueEDrYVVa64lwnaF1WLQxlyINtkUhsv0KbBk%2FJaLlK8DwvCm8l4XC75Rzr2fsVjfwBW0ImBx%2Bmp%2B%2BbrVdT8wPybIaeNinhyH3rjNp1c0M%2BqQ46khh5dizldFBW1Y1zD%2BMyBlfoHFhzb9OSfRI2eAoOREjEiL0p2TupL9cJfNfu1RcYHIJa7VbDA4ItaWfAJrMYl7w3%2FA2kb&amp;af=1&amp;ptl=floorId%3A2836%3Bapp_pvid%3A59590_11.8.56.142_15049_1560783092146%3Btpp_pvid%3A100_11.178.154.200_5920_9961560783092150558&amp;union_lens=lensId%3A0b0154f8_0e60_16b74517480_8236%3Brecoveryid%3A201_11.230.188.217_22589001_1561024622868%3Bprepvid%3A201_11.230.188.217_22589001_1561024622868">
                    <div mxa="x64g:a" class="shop-info"><img class="shop-logo"
                                                             src="//gw.alicdn.com//f6/dd/TB14K.hJFXXXXbKXFXXSutbFXXX.jpg_10000x170q90s150.jpg_.webp"><span
                            class="shop-name">果果家  GUOGUOWOMEN定制 韩范精品女装</span></div>
                    <img class="item-img"
                         src="//img.alicdn.com/bao/uploaded/i1/595412874/O1CN013Hr9fz1X6Kp3O1RWm_!!595412874.jpg_360x360xzq90s150.jpg_.webp">
                    <div mxa="x64g:b" class="item-info"><p mxa="x64g:c" class="title">
                        裤子女2019新款女裤夏季薄款韩版高腰西装裤绿色休闲裤九分哈伦裤</p>
                        <div mxa="x64g:d" class="price-info"><span mxa="x64g:g" class="price">现价¥109.9</span><span
                                mxa="x64g:h" class="sell-num">302笔成交</span></div>
                    </div>
                </a>
                    <div class="coupon-btn err-coupon-btn"
                         style="background-image: url(//gw.alicdn.com/tfs/TB1kUg4ykvoK1RjSZFwXXciCFXa-665-115.png_336x336.jpg_.webp);">
                        优惠券已失效
                    </div>
                </div>
            </div>
        </div>
        <div mxs="x64_:f" mx-view="app/views/coupon/banner/index" id="mx_10"></div>
        <div mxs="x64_:g" mx-view="app/views/coupon/activeItemList/index" id="mx_11">
            <div mxa="x64c:_" class="active-item-list-con" data-spm="activelist">
                <div mxa="x64c:a" class="recommend-title J-recommend-title">618省钱爆料
                    <div mxs="x64c:_" class="recommend-title-line"></div>
                </div>
                <div mxs="x64c:a:0" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=547223162754&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=DFztypmb6xauqItJUYHmnFyZtD0BD6JicyJEkJ1Kvv3W0FPjMN32CAMKr0KtV%2B1W&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9742">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         src="//img.alicdn.com/bao/uploaded/i2/TB1cxeRRXXXXXXrapXXXXXXXXXX_!!0-item_pic.jpg_190x190q90s150.jpg_.webp">
                    <div class="info-con"><p class="title">冰丝无痕白色打底防走光安全裤女夏天薄款保险短裤大码胖mm可外穿</p>
                        <p class="price-sell"><span class="price">5.80</span><span class="sell-num">50.53万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">3.71</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥2.09</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:1" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=570360894700&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=S24YZw%2Bsq7iuqItJUYHmnFyZtD0BD6JiRDZm6%2BbXFmZ51a1xr33j6TcK2v3ZVS%2Fe&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9743">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         src="//img.alicdn.com/bao/uploaded/TB1FvTUVbrpK1RjSZTEXXcWAVXa.png_190x190.jpg_.webp">
                    <div class="info-con"><p class="title">超薄款运动内衣女文胸聚拢无钢圈胸罩夏天夏季无痕跑步美背背心式</p>
                        <p class="price-sell"><span class="price">29.00</span><span class="sell-num">21.25万笔成交</span>
                        </p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">13.65</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥15.35</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:2" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=586918483878&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=4c16D2b5nd%2BuqItJUYHmnFyZtD0BD6Jip1yj3GK2Vs8KXpzcjGxS%2FIfqzc1%2FN5i1&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9744">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         src="//img.alicdn.com/bao/uploaded/TB1.qWOUzTpK1RjSZKPXXa3UpXa.png_190x190.jpg_.webp">
                    <div class="info-con"><p class="title">【三只松鼠_零食大礼包】休闲食品坚果膨化零食充饥夜宵整箱送人</p>
                        <p class="price-sell"><span class="price">59.90</span><span class="sell-num">194.23万笔成交</span>
                        </p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">58.41</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥1.49</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:3" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=549222851846&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=bdNh608p5T2uqItJUYHmnFyZtD0BD6JiVHAndTtZ6s4OqYkrXVIudwKfm8KPAKKo&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9745">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         src="//img.alicdn.com/bao/uploaded/O1CN01pcK87p28vIgc87u7D_!!0-juitemmedia.jpg_190x190q90s150.jpg_.webp">
                    <div class="info-con"><p class="title">霍尊同款 舒肤佳沐浴露 持久留香男女通用滋润补水抑菌家庭套装</p>
                        <p class="price-sell"><span class="price">199.00</span><span class="sell-num">8.29万笔成交</span>
                        </p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">184.28</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥14.72</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:4" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=18900233338&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=VCamfi%2BJ6reuqItJUYHmnFyZtD0BD6Ji%2F3nXIxlWmoZ49OhSzmxd3aJ7%2BkHL3AEW&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9746">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/TB1DEw1KXXXXXaaapXXSutbFXXX.jpg">
                    <div class="info-con"><p class="title">活性炭除味除甲醛新房竹炭包去味碳家用吸甲醛装修汽车用吸附神器</p>
                        <p class="price-sell"><span class="price">15.10</span><span class="sell-num">7.08万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">4.98</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥10.12</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:5" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=581785354179&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=Y9qjp%2Bn2WpSuqItJUYHmnFyZtD0BD6Ji3N4OMpgDQTgReTDEjwXmZXQfk9LmPRVb&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9747">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/O1CN01eyZIp428vIdAfA3Gv_!!725677994.png">
                    <div class="info-con"><p class="title">百草味 冰雪蛋糕540g麻薯夹心整箱装早餐面包网红零食美食小吃</p>
                        <p class="price-sell"><span class="price">36.90</span><span class="sell-num">2.54万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">33.06</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥3.84</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:6" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=527011579947&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=tn4P1TJ52BOuqItJUYHmnFyZtD0BD6JityyIwodLrB2aDkp7Fk6ijNtN7m9cS4TU&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9748">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/TB17ZT.h4TpK1RjSZFKwu12wXXa.png">
                    <div class="info-con"><p class="title">皎洁电热蚊香液无味婴儿孕妇宝宝电蚊香器驱蚊液家用插电式非灭蚊</p>
                        <p class="price-sell"><span class="price">22.90</span><span class="sell-num">45.16万笔成交</span>
                        </p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">12.58</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥10.32</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:7" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=589579769982&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=cbH3NtM4acSuqItJUYHmnFyZtD0BD6JiYMCZKfGHfMFrw%2Fb2tGVMMLP4QQhfWSYC&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_9749">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/O1CN016DHtZh1orMxAa8z5b_!!2-item_pic.png">
                    <div class="info-con"><p class="title">抖音同款纳米吸附胶卷强力万次纳米无痕魔力胶带超薄透明不留痕高粘度固定玻璃墙面爬墙粘贴防水耐高温双面胶</p>
                        <p class="price-sell"><span class="price">5.80</span><span class="sell-num">66.01万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">2.73</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥3.07</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:8" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=533842012423&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=Ta%2BvbVo%2B2J%2BuqItJUYHmnFyZtD0BD6JiYQbBLuTmwuN2a9L5FF0ziiMMIHEJMzAA&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_974a">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/TB1vEzVUFzqK1RjSZFvXXcB7VXa.png">
                    <div class="info-con"><p class="title">【有你好果子吃 尼嗒芒果干100g*3袋】东南亚芒果片水果干零食</p>
                        <p class="price-sell"><span class="price">29.90</span><span class="sell-num">4.16万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">24.28</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥5.62</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
                <div mxs="x64c:a:9" class="active-recommend-item"><a
                        href="https://uland.taobao.com/taolijin/detail?itemId=578555371781&amp;unid=&amp;vegasFloorId=19512&amp;fveCode=g2tBZkivQuyuqItJUYHmnFyZtD0BD6JisSBKS61ZjhW3NGirkRndvID0X04J4a2T&amp;srcAppkey=&amp;ptl=floorId:2836;app_pvid:59590_11.8.56.142_15049_1560783092146;tpp_pvid:100_11.178.154.200_5920_9961560783092150558&amp;vegasCode=c3mrqTHQ&amp;pid=mm_312130014_377100226_103406600438&amp;relationId=&amp;union_lens=lensId:0b86c3a0_1f2e_16b74517517_974b">
                    <div class="recommend-coupon-icon"></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/TB1kfRwje3tHKVjSZSgXXX4QFXa.png">
                    <div class="info-con"><p class="title">14卷本色卷纸家用厕纸整箱批发卫生纸实惠家庭装厕所无芯卷筒纸巾</p>
                        <p class="price-sell"><span class="price">9.90</span><span class="sell-num">99.20万笔成交</span></p>
                        <div><span class="coupon-price-title">福利价</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">8.68</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">福利</span><span class="coupon-btn-num">¥1.22</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </a></div>
            </div>
        </div>
        <div mxs="x64_:h" mx-view="app/views/coupon/itemList/index" id="mx_12">
            <div mxa="x64b:_" class="item-list-con">
                <div mxs="x64b:_" class="recommend-title J-recommend-title">更多宝贝推荐
                    <div class="recommend-title-line"></div>
                </div>
                <div mxs="x64b:a:0" class="recommend-item" mx-click="mx_12getCoupon({item:'1'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">10</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i2/2193547442/O1CN01z48Lwp24qU2WHR0x0_!!0-item_pic.jpg">
                    <div class="info-con"><p class="title">西装裤女2019新款直筒宽松休闲九分阔腿萝卜西裤哈伦裤cec裤子夏</p>
                        <p class="price-sell"><span class="price">69.00</span><span class="sell-num">1.38万笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">59.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥10</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:1" class="recommend-item" mx-click="mx_12getCoupon({item:'2'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">3</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i3/143986737/O1CN01r2KvUD1zdaoHwopZT_!!143986737.jpg">
                    <div class="info-con"><p class="title">2019夏季新款韩版时尚百搭高腰宽松显瘦彩色花苞小脚九分裤潮女裤</p>
                        <p class="price-sell"><span class="price">69.00</span><span class="sell-num">896笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">66.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥3</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:2" class="recommend-item" mx-click="mx_12getCoupon({item:'3'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">5</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i1/515385589/O1CN01fv9cTx1r9o91iEXTp_!!515385589.jpg">
                    <div class="info-con"><p class="title">绿色高腰休闲长裤女夏季新款港味宽松学生哈伦裤显瘦小脚裤老爹裤</p>
                        <p class="price-sell"><span class="price">59.00</span><span class="sell-num">854笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">54.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥5</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:3" class="recommend-item" mx-click="mx_12getCoupon({item:'4'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">5</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i3/515385589/O1CN01E0BCJl1r9o7nouoZH_!!515385589.jpg">
                    <div class="info-con"><p class="title">纯色高腰休闲裤女夏季新款港味宽松阔腿裤西装工裤垂感直筒长裤子</p>
                        <p class="price-sell"><span class="price">59.00</span><span class="sell-num">819笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">54.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥5</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:4" class="recommend-item" mx-click="mx_12getCoupon({item:'5'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">20</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i1/3286077126/O1CN01d66IM422Vks1WWCiD_!!0-item_pic.jpg">
                    <div class="info-con"><p class="title">休闲裤女学生宽松韩版原宿港味2019夏季薄款百搭九分运动哈伦裤子</p>
                        <p class="price-sell"><span class="price">37.90</span><span class="sell-num">2887笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">17.90</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥20</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:5" class="recommend-item" mx-click="mx_12getCoupon({item:'6'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">5</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i4/180424203/O1CN01zg5qn21gv1BpnFmbg_!!180424203.jpg">
                    <div class="info-con"><p class="title">MISS FLY气质芥末绿高腰格子哈伦裤休闲裤夏装女2019新款韩版显瘦</p>
                        <p class="price-sell"><span class="price">89.10</span><span class="sell-num">1531笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">84.10</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥5</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:6" class="recommend-item" mx-click="mx_12getCoupon({item:'7'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">5</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i4/3392101349/O1CN01KfFjAi1LpsoHk00dB_!!0-item_pic.jpg">
                    <div class="info-con"><p class="title">花苞九分裤女裤夏季薄款小脚显瘦休闲西装哈伦裤萝卜老爹2019新款</p>
                        <p class="price-sell"><span class="price">79.90</span><span class="sell-num">1104笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">74.90</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥5</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:7" class="recommend-item" mx-click="mx_12getCoupon({item:'8'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">10</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i1/67515073/O1CN01pnSGmL1nLTlEZLrw0_!!67515073.jpg">
                    <div class="info-con"><p class="title">夏季裤子高腰格子裤女哈伦裤宽松直筒裤显瘦百搭薄款休闲九分裤潮</p>
                        <p class="price-sell"><span class="price">129.00</span><span class="sell-num">704笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">119.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥10</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:8" class="recommend-item" mx-click="mx_12getCoupon({item:'9'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">5</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i2/2938004220/O1CN01ZSlpuo1h2nvCs7jKD_!!2938004220.jpg">
                    <div class="info-con"><p class="title">豆绿色垂感九分裤2019夏季新款女薄款高腰阔腿裤直筒冰丝长裤裤子</p>
                        <p class="price-sell"><span class="price">89.00</span><span class="sell-num">3641笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">84.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥5</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
                <div mxs="x64b:a:9" class="recommend-item" mx-click="mx_12getCoupon({item:'10'})">
                    <div class="recommend-coupon-icon"><span class="recommend-coupon-num-icon">¥</span><span
                            class="recommend-coupon-num">10</span></div>
                    <img data-observer-type="img" cell-computewithroot="true"
                         class="recommend-item-img J-recommend-item-img"
                         data-src="//img.alicdn.com/bao/uploaded/i1/3519146303/O1CN01gZma5j1wQovFcTF1b_!!0-item_pic.jpg">
                    <div class="info-con"><p class="title">夏季西装裤女九分直筒宽松垂感高腰黑色小脚哈伦烟管休闲职业裤薄</p>
                        <p class="price-sell"><span class="price">69.00</span><span class="sell-num">5363笔成交</span></p>
                        <div><span class="coupon-price-title">用券后</span><span class="coupon-price-icon">¥</span><span
                                class="coupon-price-num">59.00</span></div>
                        <div class="coupon-btn"
                             style="background-image: url(//gw.alicdn.com/tfs/TB1Fw11DIbpK1RjSZFyXXX_qFXa-300-48.png_180x180.jpg_.webp);">
                            <span class="coupon-btn-title">优惠券</span><span class="coupon-btn-num">¥10</span><span
                                class="coupon-btn-name">领取</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div mxs="x64_:i" class="activity-rules">
            <div class="activity-title"><span class="title">活动说明</span><span class="line"></span></div>
            <span class="rule-line">1. 点击“立即领取”按钮，领取成功后购买商品时使用，即可享受优惠。</span><span class="rule-line">2. 在手机淘宝-我的淘宝-卡券包-网店优惠券，可查询已发放到账户的优惠券。</span><span
                class="rule-line">3. 因商品参与其它活动等原因，付款时优惠券可能无法使用，此时商品最终成交价以您实际付款时提示金额为准。</span><span class="rule-line">4. 获取、使用优惠券时如存在违规行为（作弊领取、恶意套现、刷取信誉、虚假交易等），将取消用户领取资格、撤销违规交易且收回全部优惠券（含已使用及未使用的），必要时追究法律责任。</span><span
                class="rule-line">5. 预售商品交付定金时，不可使用优惠券。</span><span class="rule-line">6. 请仔细核对优惠券使用期，如双十一当天不在优惠券使用期，则该优惠券在支付尾款时不能使用。券后价以您当天实际支付金额为准。</span>
        </div>
        <div mxs="x64_:j" class="activity-rules">
            <div class="activity-title"><span class="title">规则声明</span><span class="line"></span></div>
            <span class="rule-line">上传至该页面的商品与优惠券信息，会被阿里集团官方收录并给其他用户使用。上传者上传此类信息的，表明上传者已与商家达成一致，即商家同意官方收录且给其他用户使用。如商家不同意，请上传者不要上传，如否导致的纠纷由上传者解决并承担责任。</span>
        </div>
    </div>
</div>
</body>
</html>