<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,viewport-fit=cover">
    <title>login</title>
</head>
<body>
<div class="container">
    <div class="col-md-3 col-sm-4 col-xs-12 item" style='padding-right:5px;padding-left:5px;margin-bottom:5px;'>
        <form role="form" name="loginForm" action="/login"  method="post">
            <div  align="center" class="form-group">
                <label for="userName">账号:</label>
                <input type="text" class="form-control" id="userName" name="userName">
            </div>
            <div  align="center" class="form-group">
                <label for="passWd">密码:</label>
                <input type="password" class="form-control" id="passWd" name="passWd">
            </div>

            <div align="center">
                <button type="submit" class="btn btn-primary" role="button" id="loginBtn">登录</button>
                <br/><br/>
            </div>
        </form>
    </div>
</div>
</body>
</html>